.App {
    background-color: antiquewhite;
    background-image: linear-gradient(blue,yellow)
}

#img {
    position: relative;
    left: 50%;
    width:200px;
    float: left;
}
/* 25C-1	
25C-2	
25C-3 */
/* 27C	
27D	
27E	
27F	
27G	 */
.list {
    width: 100vh;
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.span {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    color: purple;
    font-weight: 700;
    font-size: 30px;
    padding: 30px;
    background-color: aqua;
    border: 5px solid red;
    box-sizing: border-box;
    margin-top: 50px;

}

/* 23D-1	
23D-2	
23D-3	
23E
23F */
.divy {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOL7umQNLcN3h5c5_PJtMnWY5prK2ssravAQh9MPUEP-_RAwi9');
    height: 100vh;
    box-shadow: 5px 10px 5px;
    z-index: -1;
    
}

/* 22C-1	#
22C-2	.
22C-3	" "
22C-4	> */
/* 22C-5	+ */
div + p {
    font-size: 50px;
}

div > p {
    color: red;
}
div h1 {
    color: white;
    text-shadow: 2px 2px 5px blue;

}